*{
    color: rgb(32, 34, 41);
}
body{
    background-color: rgb(255, 255, 255);
}
i{
    font-size: 30px;
}
#icon{
    width: fit-content;
}
#moon{
    cursor: pointer;
}
#sun{
    display: none;
    cursor: pointer;
}
.search-input,
.form-input{
    width: 100%;
    background-color: transparent;
    padding: 5px 10px;
    margin: 6px 0;
    outline: none;
    border: 1px solid #ced4da;
    border-radius: 5px;
}
.search-input:focus,
.form-input:focus{
    border-color: #00cec9;
}
.search-input{
    width: 50%;
    margin: auto;
    display: block;
}